
<html>
    {% include "header.html" with title="Delivery" %}
        <button class="p-1 m-1"><a href="{{prevAlumn}}">Anterior alumno</a></button>
        <button class="p-1 m-1" ><a href="{{nextAlumn}}">Siguiente alumno</a></button>
        {% block content %}
        <h2 class="text-3xl">{{exercise}} de {{alumn}}</h2>
            <table style="border: 1px ; border-radius: 10px;">
                <tr class="p-{5px}">
                    <th>Alumno:</th>
                    <th>{{delivery.user}}</th>
                </tr>
                <tr class="p-{5px}">
                    <th>Ejercicio:</th>
                    <th>{{delivery.ejercicio}}</th>
                </tr>
                <tr class="p-{5px}">
                    <th>Estado:</th>
                    <th>
                        {% if delivery.estado == True %}
                            <input type="checkbox" checked>
                        {% else %}
                            <input type="checkbox">
                        {% endif %}
                    </th>
                </tr>
                <tr class="p-{5px}">
                    <th>Cualificación:</th>
                    <th>
                        <input type="number" value="{{delivery.cualificacion}}" id="nota" class="text-center" min="0" max="10">
                    </th>
                </tr>
                <tr class="p-{5px}">
                    <th>Archivo:</th>
                    <th><a href="../../{{delivery.archivo}}" class="underline decoration-blue-500 flex justify-center"> <img src="https://cdn-icons-png.flaticon.com/512/0/532.png" alt="foto-descarga" class="w-5"></a></th>
                </tr>
                <tr class="p-{5px}">
                    <th>Fecha de Entrega:</th>
                    <th>{{delivery.fecha_entrega}}</th>
                </tr>
                <tr class="p-{5px}">
                    <th>Comentario Profesor:</th>
                    <th>
                        <input type="text" value="{{delivery.comentario_profesor}}" id="comentarioProfesor" class="text-center">
                    </th>
                </tr>
                <tr class="p-{5px}">
                    <th>Comentario Alumno:</th>
                    <th>{{delivery.comentario_alumno}}</th>
                </tr>
            </table>
            <button  name="" id="enviar" class="p-1 m-1">Enviar</button>



        <script
		src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#enviar').on('click',function(){
                    let nota = $('#nota').val();
                    let comentarioProfesor = $('#comentarioProfesor').val();
                    let entrega = "{{ delivery.pk}}" ;
                    console.log(window.location.origin+"/actualizar/"+entrega+"/"+nota+"/"+comentarioProfesor);
                    $.ajax({
                        url: window.location.origin+"/actualizar/"+entrega+"/"+nota+"/"+comentarioProfesor,
                        method : 'POST',
                    })

                    if ($('#nota').val()=="{{delivery.cualificacion}}" && $('#comentarioProfesor').val()=="{{delivery.comentario_profesor}}") {
                        $("table").before('<div class="alert warning"> <span class="closebtn">&times;</span>No se ha actualizado la información, modifica los campos y vuelve a enviar</div>');
                    }
                    else{
                        $("table").before('<div class="alert success"> <span class="closebtn">&times;</span>La información se ha actualizado correctamente</div>');
                    }
                    eliminarAlerta();
                    

                    
                })
                $("#nota").change(function (e) { 
                    e.preventDefault();
                    let nota = $("#nota").val();
                    if (nota<0 || nota>10) {
                    }
                });
            });
            
            function eliminarAlerta() {
                var close = document.getElementsByClassName("closebtn");
                var i;

                for (i = 0; i < close.length; i++) {
                close[i].onclick = function(){
                    var div = this.parentElement;
                    div.style.opacity = "0";
                    setTimeout(function(){ div.style.display = "none"; }, 600);
                }
                }
            };

        </script>
        {% endblock %}
    </body>
<html>