<html>
    {% include "header.html" with title="Exercise" exercise=exercise.titulo %}
    <h2 class="pt-5 pl-20 text-4xl">{{curso.nombre}} / {{exercise.nombre}}</h2>
    <div id="exercise" class="pl-20 pr-20 pt-5 ">
        <div id="description" class="border-solid rounded border-black bg-[#ededed] p-2 mx-8 mb-3">
            <p class="font-bold">Ponderación: {{exercise.ponderacion}}</p>
        </div>
        <div id="attachedFiles">
            <div class="border-solid rounded border-black bg-[#ededed] p-2 mx-8 mb-3">
                <table>
                    <tr>
                        <td><p>Estado de la entrega</p></td>
                        <td>
                            {% if entrega.0 %}
                            <p>Entregado</p>
                            {% else %}
                            <p>No entregado</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><p>Estado de la cualificación</p></td>
                        <td>
                            {% if entrega.0.cualificacion %}
                            <p>{{entrega.0.cualificacion</p>
                            {% else %}
                            <p>No cualificado</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><p>Fecha de entrega</p></td>
                        <td>
                            {% if entrega.0.fecha_entrega %}
                            <p>{{entrega.0.fecha_entrega}}</p>
                            {% else %}
                            <p>No entregado</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><p>Comentario del profesor</p></td>
                        <td>
                            {% if entrega.0.comentario_profesor %}
                            <p>{{entrega.0.comentario_profesor}}</p>
                            {% else %}
                            <p>Ningún comentario</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                {% if entrega.0 %}
                <table>
                    <tr>
                        <td><p>Tu comentario</p></td>
                        <td>
                            {% if entrega.0.comentario_alumno %}
                            <p>{{entrega.0.comentario_alumno}}</p>
                            {% else %}
                            <p>Ningún comentario</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><p>Archivo adjunto</p></td>
                        <td>
                            {% if entrega.0.archivo %}
                            <a class="italic underline text-[#461f87]" href="../../{{entrega.0.archivo}}">Descargar archivo entregado</a>
                            {% else %}
                            <p>Ningún archivo adjunto</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>
                {% endif %}
            </div>
        </div>
    </div>
    </body>
</html>