<html>
    {% include "header.html" with title="Fast Correction" exercise=exercise.nombre cursoid=curso.pk %}
        {% block content %}
        <h2 class="pt-5 pl-20 text-4xl">{{exercise.nombre}}</h2>

        <div id="table" class="pl-20 pr-20 pt-5 ">
            <div class="border-solid rounded border-black bg-[#ededed] p-2 mx-8 mb-3">
                <table id="fctable" style="border: 1px ; border-radius: 10px;" class="min-w-full">
                    <tr class="font-bold text-center">
                        <td>Alumno</td>
                        <td>Cualificación</td>
                        <td>Fecha de Entrega</td>
                        <td>Comentario Alumno</td>
                        <td>Archivo</td>
                        <td>Comentario Profesor</td>
                        <td>Actualizar</td>
                    </tr>
                    {% if deliveries %}
                    {% for d in deliveries %}
                                <tr class="text-center">
                                    <td>{{d.user}}</td>
                                    {% if d.cualificacion %}
                                        <td class="{{d.pk}}"><input type="number" value="{{d.cualificacion}}" class="nota" class="text-center"></td>
                                    {% else %}
                                        {% load static %}
                                        <td class="flex justify-center items-center pt-1"><input type="number" value="{{d.cualificacion}}" class="nota" class="text-center"><img class="max-w-[18px] max-h-[18px] ml-3" src="{% static 'warning.png' %}" alt="Warning"></td>
                                    {% endif %}
                                    <td>{{d.fecha_entrega}}</td>
                                    {% if d.comentario_alumno %}
                                        <td>{{d.comentario_alumno}}</td>
                                    {% else %}
                                        <td class="italic">Sin comentario</td>
                                    {% endif %}
                                    <td><a href="../{{d.archivo}}" class="underline text-[#461f87] italic">Descargar</a></td>
                                    {% if d.comentario_profesor %}
                                        <td class="{{d.pk}}"><input type="text" value="{{d.comentario_profesor}}" class="comentarioProfesor" class="text-center"></td>
                                    {% else %}
                                        <td><input type="text" value="N/A" class="comentarioProfesor" class="text-center"></td>
                                    {% endif %}
                                    <td><button name="" id="{{d.pk}}" class="p-1 m-1 text-sm actualizar">Actualizar</button></td>
                                </tr>
                    {% endfor %}
                    {% for a in alumnos %}
                        {% if a.pk in alumnosEntregado %}
                            <tr class="text-center">
                                <td>{{a.user}}</td>
                                <td class="italic text-red-700">No cualificado</td>
                                <td class="italic text-red-700">No entregado</td>
                                <td class="italic">Sin comentario</td>
                                <td>-</td>
                                <td class="italic">Sin comentario</td>
                                <td></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    {% else %}
                    <tr><td>No hay entregas</td></tr>
                    {% endif %}
                </table>
                <button id="enviar"> esto es un boton de pruebas</button>
                
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $('.actualizar').each(function() {
                    $(this).on('click', function () {
                        let nota = $("."+this.id+' .nota').val();
                        let comentarioProfesor = $("."+this.id+' .comentarioProfesor').val();
                        let entrega =  this.id;
                        console.log(window.location.origin+"/actualizar/"+entrega+"/"+nota+"/"+comentarioProfesor);
                        $.ajax({
                            url: window.location.origin+"/actualizar/"+entrega+"/"+nota+"/"+comentarioProfesor,
                            method : 'POST',
                        })

                        if (nota=="gola" && comentarioProfesor=="cosa") {
                            $("table").before('<div class="alert warning"> <span class="closebtn">&times;</span>No se ha actualizado la información, modifica los campos y vuelve a enviar</div>');
                            
                        }
                        else{
                            $("table").before('<div class="alert success"> <span class="closebtn">&times;</span>La información se ha actualizado correctamente</div>');
                        }
                        eliminarAlerta();
                        setTimeout(function(){ location.reload()}, 1000);

                        
                    })
                    
                });

                    });
            
        </script>
        {% endblock %}
    </body>
<html>