<html>
    {% include "header.html" with title="Fast Correction" task=task.nombre cursoid=curso.pk %}
        {% block content %}
        <h2 class="pt-5 pl-20 text-4xl">{{task.nombre}}</h2>

        <div id="table" class="pl-20 pr-20 pt-5 ">
            <div class="border-solid rounded border-black bg-[#ededed] p-2 mx-8 mb-3">
                <table id="fctable" style="border: 1px ; border-radius: 10px;" class="min-w-full">
                    <tr class="font-bold text-center">
                        <td>Alumno</td>
                        <td>Correo</td>
                        <td>Entregas</td>
                        <td>Calificación</td>
                        <td>Comentario Profesor</td>
                        <td>Actualizar</td>
                    </tr>
                    {% if deliveries %}
                    {% for a in alumnos %}
                        <tr class="text-center">
                            <td>{{a.user}}</td>
                            <td>{{a.user.correo}}</td>
                            <td>
                                <ol class="list-decimal">
                                    {% if a.user.pk in alumnosEntregado %}
                                        {% for d in deliveries %}
                                            {% if a.user.pk == d.user.pk %}
                                                <li>
                                                    <a class="italic underline text-[#461f87]" href="../../{{d.archivo}}">Descargar entrega</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <p class="italic text-red-700">No hay entregas</p>
                                    {% endif %}
                                </ol>    
                            </td>
                            {% for q in qualifications %}
                                {% if q.user.pk == a.user.pk %}
                                    <td class="{{q.pk}}"><input type="number" value="{{q.nota}}" class="nota"></td>
                                    <td class="{{q.pk}}">
                                        {% if q.comentario_profesor %}
                                            <textarea name="comentarioProfesor" id="" cols="30" rows="2" class="comentarioProfesor">{{q.comentario_profesor}}</textarea>
                                        {% else %}
                                            <textarea name="comentarioProfesor" id="" cols="30" rows="2" class="comentarioProfesor">Sin comentario</textarea>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endfor %}
                            <td><button name="" id="{{q.pk}}" class="p-1 m-1 text-sm actualizar">Actualizar</button></td>
                        </tr>
                    {% endfor %}
                    {% else %}
                    <tr><td>No hay entregas</td></tr>
                    {% endif %}
                </table>    
                
            </div>
        </div>
        <script>
            $(document).ready(function() {
                $('.actualizar').each(function() {
                    $(this).on('click', function () {

                        let nota = $("."+this.id+' .nota').val();
                        let comentarioProfesor = $("."+this.id+' .comentarioProfesor').val();
                        if (comentarioProfesor=="") {
                            comentarioProfesor="Sin comentarios"
                        }
                        let entrega =  this.id;
                        console.log(window.location.origin+"/actualizar/"+entrega+"/"+nota+"/"+comentarioProfesor);
                        if (vr=='False'){
                            $.ajax({
                                url: window.location.origin+"/actualizar/"+qualification+"/"+nota+"/"+comentarioProfesor ,
                                method : 'POST',
                            })
                        }
                        else{
                            $.ajax({
                                url: window.location.origin+"/actualizar/vr/"+qualification+"/"+nota+"/"+comentarioProfesor ,
                                method : 'POST',
                            })
                        }

                        if (nota=="gola" && comentarioProfesor=="cosa") {
                            $("table").before('<div class="alert warning"> <span class="closebtn">&times;</span>No se ha actualizado la información, modifica los campos y vuelve a enviar</div>');
                            
                        }
                        else{
                            $("table").before('<div class="alert success"> <span class="closebtn">&times;</span>La información se ha actualizado correctamente</div>');
                        }
                        eliminarAlerta();
                        setTimeout(function(){ location.reload()}, 1000);

                        
                    })
                    
                });

                    });
            
        </script>
        {% endblock %}
    </body>
<html>